<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      <div></div>
      <section class="reviews">
      <% if @current_user %>
        <div class="row" style="margin-left: 60px">
          <div class="col-sm-6 col-sm-offset-1">
            <%= form_for [@product, @review] do |form| %>
              <div class="form-group">
                <%= form.label :rating %>
                <%= form.select :rating, (0..5), class: 'form-control' %>
                <br>
                <%= form.label :'Write a review' %>
                <%= form.text_field :description, class: 'form-control' %>
                <%= form.hidden_field :product_id %>
                <%= form.hidden_field :user_id %>
                <br>
                <%= form.submit 'Submit', class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>

      <section style="margin-left: 30px">
        <h3 style=" margin-left: 60px">Reviews</h3>
        <% @reviews.reverse.each do |review| %>
          <dl class="dl-horizontal">
           <dt>Name</dt>
            <dd><%= review.user.name %></dd>
           <dt>Rating</dt>
            <dd><%= review.rating %></dd>
           <dt>Review</dt>
            <dd><%= review.description %></dd>
        <% end %>
      </section>
    </section>
  </article>
</section>
